
@{
    ViewBag.Title = "Formula Creative";
    ViewBag.NextPage = "AlphaView";
    ViewBag.PrevPage = "TrimAndroidApp";
}

<div id="content" class="site-content content strip-header-menu-content">

    <div id="agni-page-header-501" class="agni-slider agni-page-header" data-height="500" data-height-tab="420" data-height-mobile="320" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
        <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
            <div class="agni-slide-bg-container "><div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../../Content/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_7.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div></div>
            <div class="agni-slide-content-container container agni-slide-align-items-middle agni-slide-justify-content-left">
                <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <div class="agni-slide-title  primary-typo" style="font-size:80px; color:#f0f0f0;"><h2>Formula Creativa</h2></div>
                </div>
            </div>
        </div>
    </div>	<div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-501" class="portfolio-single-content portfolio-single-layout-plain post-501 portfolio type-portfolio status-publish has-post-thumbnail hentry types-app types-logo-design">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-65456" class="section-row" style="padding-top: 6%; padding-bottom: 6%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-65456"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-6 vc_hidden-sm vc_hidden-xs">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-94279 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="696" height="696" src="~/Content/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_6.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_6.jpg 696w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_6-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_6-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_6-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_6-600x600.jpg 600w" sizes="(max-width: 696px) 100vw, 696px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-55848 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_empty_space vc_empty_space" style="height: 70px" data-height="70px" data-height-tab="60" data-height-mobile="10"><span class="vc_empty_space_inner"></span></div>
                                                            <div class="agni_custom_heading page-scroll"><h5 class="vc_custom_heading agni_custom_heading_content " style="text-align: left; "><span>Formula Creativa</span></h5></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Nunc aliquam at diam quis porttitor. Integer diam ante, varius non egestas eget, tincidunt a justo. Mauris scelerisque iaculis justo ac tempus. Nullam vitae est pellentesque, elementum ipsum et, lacinia quam. Nullam mollis ut ex consectetur iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                                                            </div>

                                                            <div class="agni_text_column agni-text-block ">
                                                                <p><a href="#"><strong><span style="text-decoration: underline;">Know More</span></strong></a></p>

                                                            </div>
                                                            <div class="agni_empty_space vc_empty_space" style="height: 70px" data-height="70px" data-height-tab="60" data-height-mobile="10"><span class="vc_empty_space_inner"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-93076" class="section-row" style="padding-top: 6%; padding-bottom: 6%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-93076"><div class="section-row-bg section-row-bg-color " style="background-color: #dbeaf7; "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-25961 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1400" height="917" src="~/Content/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5.jpg 1400w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5-300x197.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5-768x503.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5-1024x671.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5-960x629.jpg 960w" sizes="(max-width: 1400px) 100vw, 1400px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-10795" class="section-row" style="padding-top: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-10795"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-5">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-71521 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Nullam et eleifend enim, eget consequat mauris. Nam varius dapibus ultricies. Duis id tristique purus. Proin orci lacus, interdum mollis neque at, imperdiet mattis libero. Nam vestibulum pulvinar tellus. Sed erat tortor, elementum nec augue vitae, facilisis porttitor arcu. Mauris eleifend tristique ex, id tincidunt arcu rutrum vitae. Sed ante ante, sollicitudin nec blandit sed, tempus efficitur tellus.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-5">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-53798 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Morbi eget rutrum augue. Integer tempus augue sed sem varius dapibus. Cras non ullamcorper nunc. Integer eu lorem massa. Etiam varius pretium nisl at ultrices. Suspendisse pretium euismod enim, nec iaculis arcu. Aliquam venenatis ligula et metus lacinia porta. Sed at velit massa. Pellentesque auctor sagittis nisi tincidunt pellentesque.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-32229" class="section-row" style="padding-top: 4%; padding-bottom: 4%; "><div class="section-row-bg-container section-row-bg-container-agni-row-32229"><div class="section-row-bg section-row-bg-color "></div></div><div class="container"><div class="vc_row vc_row_fluid "><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; "><div class="section-column-bg-container section-column-bg-container-agni-column-98544 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni-gallery img-carousel "><div class="agni-gallery-row row carousel-gallery " data-gallery-margin=30 data-gallery-autoplay=true data-gallery-autoplay-timeout=5000 data-gallery-autoplay-hover=true data-gallery-loop=true data-gallery-autoheight=false data-gallery-center=false data-gallery-pagination=true data-gallery-0="1" data-gallery-768="2" data-gallery-992="3" data-gallery-1200="3"><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><img width="1400" height="917" src="~/Content/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5.jpg 1400w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5-300x197.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5-768x503.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5-1024x671.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_5-960x629.jpg 960w" sizes="(max-width: 1400px) 100vw, 1400px" /></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><img width="1400" height="917" src="~/Content/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_4.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_4.jpg 1400w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_4-300x197.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_4-768x503.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_4-1024x671.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_4-960x629.jpg 960w" sizes="(max-width: 1400px) 100vw, 1400px" /></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><img width="1400" height="917" src="~/Content/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_3.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_3.jpg 1400w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_3-300x197.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_3-768x503.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_3-1024x671.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_3-960x629.jpg 960w" sizes="(max-width: 1400px) 100vw, 1400px" /></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><img width="1400" height="962" src="~/Content/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_2.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_2.jpg 1400w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_2-300x206.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_2-768x528.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_2-1024x704.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/11/portfolio-thumbnail_10_inner_2-960x660.jpg 960w" sizes="(max-width: 1400px) 100vw, 1400px" /></figure></div></div></div></div></div></div></div></div></div>
                                </div>  <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li><a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo3/portfolio/formula-creativa//&amp;t=Fo%cc%81rmula%20Creativa"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/intent/tweet?text=Fo%cc%81rmula%20Creativa-http://demo.agnidesigns.com/fortune/demo3/portfolio/formula-creativa/"><i class="fa fa-twitter"></i></a></li>

                                                    <li><a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo3/portfolio/formula-creativa/"><i class="fa fa-google-plus"></i></a></li>

                                                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo3/portfolio/formula-creativa/&amp;title=Fo%cc%81rmula%20Creativa"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @Html.Partial("SectionNavigator")

                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
