
@{
    ViewBag.Title = "Love Wine";
    ViewBag.NextPage = "TrimAndroidApp";
    ViewBag.PrevPage = "PosterSeries";
}

<div id="content" class="site-content content strip-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-407" class="portfolio-single-content portfolio-single-layout-plain post-407 portfolio type-portfolio status-publish has-post-thumbnail hentry types-branding types-logo-design">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-54269" class="section-row" style="padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-54269"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-22694 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="text-align: center; "><span>The Love of Wine</span></h4></div><div id="agni-row-inner-65379" class="section-row-inner vc_inner " style="padding-top: 20px; ">
                                                                <div class="section-row-inner-bg-container section-row-inner-bg-container-agni-row-inner-65379"><div class="section-row-inner-bg section-row-inner-bg-color "></div></div><div class="vc_row vc_row_fluid ">
                                                                    <div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-43491"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Client :</span></h6></div>
                                                                                <div class="agni_text_column agni-text-block ">
                                                                                    <p>AgniHD</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-97004"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Date :</span></h6></div>
                                                                                <div class="agni_text_column agni-text-block ">
                                                                                    <p>13 Jan 2017</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-39217"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Services :</span></h6></div>
                                                                                <div class="agni_text_column agni-text-block ">
                                                                                    <p>Design, Branding</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-52834" class="section-row"><div class="section-row-bg-container section-row-bg-container-agni-row-52834"><div class="section-row-bg section-row-bg-color "></div></div><div class="container"><div class="vc_row vc_row_fluid "><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-42730 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni-gallery img-carousel custom-gallery"><div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -30px -60px;"><div class="grid-sizer col-xs-12 col-sm-12 col-md-6 "></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 30px 60px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_6.jpg"><img width="600" height="600" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_6.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_6.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_6-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_6-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_6-180x180.jpg 180w" sizes="(max-width: 600px) 100vw, 600px" /></a></figure></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 30px 60px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_5.jpg"><img width="600" height="600" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_5.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_5.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_5-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_5-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_5-180x180.jpg 180w" sizes="(max-width: 600px) 100vw, 600px" /></a></figure></div></div></div></div></div></div></div></div></div><div id="agni-row-17614" class="section-row" style="padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-17614"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-52890 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Integer pulvinar, elit vel maximus aliquam, massa quam iaculis lacus, in egestas nibh arcu et turpis. Quisque nec urna sagittis, varius nisi quis, suscipit erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non nibh eget nunc interdum maximus. In at tellus sapien. Integer non tortor dui. Mauris at euismod dui.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-28249" class="section-row"><div class="section-row-bg-container section-row-bg-container-agni-row-28249"><div class="section-row-bg section-row-bg-color "></div></div><div class="container"><div class="vc_row vc_row_fluid "><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-11406 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni-gallery img-carousel custom-gallery"><div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -30px -60px;"><div class="grid-sizer col-xs-12 col-sm-12 col-md-6 "></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 30px 60px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_3.jpg"><img width="600" height="600" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_3.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_3.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_3-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_3-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_3-180x180.jpg 180w" sizes="(max-width: 600px) 100vw, 600px" /></a></figure></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 30px 60px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_1.jpg"><img width="600" height="600" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_1.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_1.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_1-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_1-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_1-180x180.jpg 180w" sizes="(max-width: 600px) 100vw, 600px" /></a></figure></div></div></div></div></div></div></div></div></div><div id="agni-row-45517" class="section-row" style="padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-45517"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-5">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-16446 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Phasellus et nibh magna. Nam nibh lacus, laoreet sed lorem quis, sagittis ultrices purus. Nullam commodo nibh lorem, quis consequat mauris mattis id. Sed rhoncus placerat nunc vitae tempor.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-3">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-49571 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Etiam finibus ligula dui, nec sodales erat tempor vitae. Etiam quis dapibus nisi, eget accumsan erat.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-40431" class="section-row"><div class="section-row-bg-container section-row-bg-container-agni-row-40431"><div class="section-row-bg section-row-bg-color "></div></div><div class="container"><div class="vc_row vc_row_fluid "><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-49134 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni-gallery img-carousel custom-gallery"><div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -30px -60px;"><div class="grid-sizer col-xs-12 col-sm-12 col-md-6 "></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 30px 60px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_4.jpg"><img width="600" height="600" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_4.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_4.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_4-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_4-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_4-180x180.jpg 180w" sizes="(max-width: 600px) 100vw, 600px" /></a></figure></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 30px 60px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_2.jpg"><img width="600" height="600" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_2.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_2.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_2-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_2-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_7_inner_2-180x180.jpg 180w" sizes="(max-width: 600px) 100vw, 600px" /></a></figure></div></div></div></div></div></div></div></div></div><div id="agni-row-23998" class="section-row" style="padding-top: 4%; padding-bottom: 2%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-23998"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-90489 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui sagittis, ullamcorper quam at, elementum justo. Pellentesque lobortis est ex, quis cursus tortor interdum non. Donec imperdiet purus et sollicitudin ornare. Curabitur ac mi ut augue faucibus volutpat. Vestibulum ut lacus imperdiet, tempor orci eu, viverra justo. Ut varius neque non odio mollis mollis. Mauris eget mi odio. Sed sapien nibh, tempor id augue vel, semper ullamcorper lacus. Suspendisse vel dictum mi, ac mollis lorem. Etiam sollicitudin commodo lorem, a sollicitudin diam laoreet sed. Quisque interdum egestas orci cursus cursus.</p>

                                                            </div>

                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Proin turpis augue, tempor in pharetra eu, luctus sit amet tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus faucibus pulvinar dui. Vestibulum auctor dignissim iaculis. Mauris congue ligula et mi tristique, cursus sodales lorem convallis. Aenean non enim nisi. Sed sed justo in elit malesuada elementum.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li><a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo3/portfolio/the-love-of-wine//&amp;t=The%20Love%20of%20Wine"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/intent/tweet?text=The%20Love%20of%20Wine-http://demo.agnidesigns.com/fortune/demo3/portfolio/the-love-of-wine/"><i class="fa fa-twitter"></i></a></li>

                                                    <li><a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo3/portfolio/the-love-of-wine/"><i class="fa fa-google-plus"></i></a></li>

                                                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo3/portfolio/the-love-of-wine/&amp;title=The%20Love%20of%20Wine"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @Html.Partial("SectionNavigator")

                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
