
@{
    ViewBag.Title = "Poster Series";
    ViewBag.NextPage = "LoveWine";
    ViewBag.PrevPage = "NoExuses";
}

<div id="content" class="site-content content strip-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-405" class="portfolio-single-content portfolio-single-layout-plain post-405 portfolio type-portfolio status-publish has-post-thumbnail hentry types-branding">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-73000" class="section-row" style="padding-top: 5%; padding-bottom: 5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-73000"><div class="section-row-bg section-row-bg-color " style="background-color: #2a085f; "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-10">
                                                    <div class="agni_column-inner vc_column-inner text-left has-dark-mode" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-57914 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="text-align: left; "><span>SO/Poster</span></h6></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Vestibulum gravida velit vitae odio mattis, a sodales quam feugiat. Integer diam mauris, ornare a iaculis et, molestie non lacus. Sed ultrices pulvinar sem, nec rhoncus velit gravida ut. Curabitur rutrum arcu quis urna malesuada, et egestas enim dapibus. Vivamus feugiat purus eget tristique accumsan. Cras luctus augue in accumsan aliquam. Mauris blandit feugiat libero vitae condimentum.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-83908" class="section-row"><div class="section-row-bg-container section-row-bg-container-agni-row-83908"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid"><div class="vc_row vc_row_fluid has-fullwidth-column-no-padding"><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-92784 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni-gallery img-carousel custom-gallery"><div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -0px -0px;"><div class="grid-sizer col-xs-12 col-sm-12 col-md-6 "></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6.jpg"><img width="1200" height="1200" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6-1024x1024.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6-600x600.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_6-960x960.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" /></a></figure></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5.jpg"><img width="1200" height="1200" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5-1024x1024.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5-600x600.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_5-960x960.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" /></a></figure></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4.jpg"><img width="1200" height="1200" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4-1024x1024.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4-600x600.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_4-960x960.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" /></a></figure></div><div class="col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3.jpg"><img width="1200" height="1200" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3-1024x1024.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3-600x600.jpg 600w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_3-960x960.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" /></a></figure></div></div></div></div></div></div></div></div></div><div id="agni-row-96157" class="section-row" style="padding-top: 5%; padding-bottom: 5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-96157"><div class="section-row-bg section-row-bg-color " style="background-color: #ffd9d0; "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-5">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-62626 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Sed rhoncus vestibulum cursus. Nunc consectetur nunc a arcu feugiat vulputate. Nunc nisi massa, tempus non libero a, hendrerit finibus diam. Vivamus volutpat est a bibendum sagittis.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-5">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-40621 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Curabitur rutrum arcu quis urna malesuada, et egestas enim dapibus. Vivamus feugiat purus eget tristique accumsan. Cras luctus augue in accumsan aliquam dimentum.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-68819" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-68819"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-32973 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1920" height="960" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_1.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_1.jpg 1920w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_1-300x150.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_1-768x384.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_1-1024x512.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_5_inner_1-960x480.jpg 960w" sizes="(max-width: 1920px) 100vw, 1920px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li><a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo3/portfolio/so-poster-series//&amp;t=SO%20/%20Poster%20Series"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/intent/tweet?text=SO%20/%20Poster%20Series-http://demo.agnidesigns.com/fortune/demo3/portfolio/so-poster-series/"><i class="fa fa-twitter"></i></a></li>

                                                    <li><a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo3/portfolio/so-poster-series/"><i class="fa fa-google-plus"></i></a></li>

                                                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo3/portfolio/so-poster-series/&amp;title=SO%20/%20Poster%20Series"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @Html.Partial("SectionNavigator")

                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
