
@{
    ViewBag.Title = "Zero Branding";
    ViewBag.NextPage = "NoExuses";
    ViewBag.PrevPage = "CommaLogoMarks";
}

<div id="content" class="site-content content strip-header-menu-content">

    <div id="agni-page-header-403" class="agni-slider agni-page-header" data-fullscreen-height=1 data-slider-choice="1" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
        <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
            <div class="agni-slide-bg-container "><div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../../Content/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_1.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div></div>
            <div class="agni-slide-content-container container agni-slide-align-items-bottom agni-slide-justify-content-left">
                <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <div class="agni-slide-title  primary-typo" style="font-size:80px; color:#f0f0f0;"><h2>Zero Branding</h2></div><div class="agni-slide-divideline divide-line "><span style="background-color:#f0f0f0"></span></div>
                </div>
            </div>
        </div>
    </div>	<div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-403" class="portfolio-single-content portfolio-single-layout-plain post-403 portfolio type-portfolio status-publish has-post-thumbnail hentry types-branding">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-24533" class="section-row" style="padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-24533"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-6">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-74705 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Donec feugiat, erat at congue ornare, nisi ipsum fermentum dui, eu rutrum sapien massa non turpis. Duis imperdiet rhoncus hendrerit. Vestibulum hendrerit risus massa, vel placerat leo laoreet eget. Fusce in rhoncus lorem. Pellentesque consequat cursus augue, quis imperdiet leo rutrum non. Etiam porta consequat leo eget faucibus. Etiam eu enim neque. Ut ac aliquam arcu. In sit amet nunc dictum, condimentum lacus id, dapibus felis. Suspendisse ultrices ornare leo, quis eleifend est eleifend id.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-3">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-47244 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Client :</span></h6></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>AgniHD</p>

                                                            </div>
                                                            <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Date :</span></h6></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>13 Jan 2017</p>

                                                            </div>
                                                            <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Services</span></h6></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Art Direction, Concept Design</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-84156" class="section-row" style="padding-bottom: 7%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-84156"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-98382 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1200" height="1154" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4-300x289.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4-768x739.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4-1024x985.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4-960x923.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-39898" class="section-row" style="padding-top: 7%; padding-bottom: 7%; "><div class="section-row-bg-container section-row-bg-container-agni-row-39898"><div class="section-row-bg section-row-bg-color "></div></div><div class="container"><div class="vc_row vc_row_fluid "><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-74797 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni-gallery img-carousel "><div class="agni-gallery-row row carousel-gallery " data-gallery-margin=30 data-gallery-autoplay=true data-gallery-autoplay-timeout=5000 data-gallery-autoplay-hover=true data-gallery-loop=true data-gallery-autoheight=true data-gallery-center=false data-gallery-pagination=true data-gallery-0="1" data-gallery-768="1" data-gallery-992="1" data-gallery-1200="1"><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><img width="1200" height="959" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_6.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_6.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_6-300x240.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_6-768x614.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_6-1024x818.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_6-960x767.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" /></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><img width="1200" height="1501" src="~/Content/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_3.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_3.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_3-240x300.jpg 240w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_3-768x961.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_3-819x1024.jpg 819w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_3-960x1201.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" /></figure></div><div class="custom-gallery-item agni-gallery-column" style=""><figure class="agni-gallery-figure"><img width="1200" height="1154" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4-300x289.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4-768x739.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4-1024x985.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_4-960x923.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" /></figure></div></div></div></div></div></div></div></div></div><div id="agni-row-43716" class="section-row" style="padding-top: 7%; padding-bottom: 7%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-43716"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-46012 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1200" height="1501" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_2.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_2.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_2-240x300.jpg 240w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_2-768x961.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_2-819x1024.jpg 819w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_2-960x1201.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-50715" class="section-row" style="padding-top: 7%; padding-bottom: 3%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-50715"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-78012 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1200" height="1501" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_5.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_5.jpg 1200w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_5-240x300.jpg 240w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_5-768x961.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_5-819x1024.jpg 819w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_3_inner_5-960x1201.jpg 960w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-97385" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-97385"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-10">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-17925 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Mauris blandit magna ut metus vestibulum, ut cursus lorem pulvinar. Sed sagittis molestie risus, sed euismod lectus. Vestibulum eros quam, porttitor nec efficitur ut, sodales semper libero. Aliquam sed pellentesque sem.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li><a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo3/portfolio/zero-branding//&amp;t=Zero%20Branding"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/intent/tweet?text=Zero%20Branding-http://demo.agnidesigns.com/fortune/demo3/portfolio/zero-branding/"><i class="fa fa-twitter"></i></a></li>

                                                    <li><a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo3/portfolio/zero-branding/"><i class="fa fa-google-plus"></i></a></li>

                                                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo3/portfolio/zero-branding/&amp;title=Zero%20Branding"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @Html.Partial("SectionNavigator")

                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
