/* Fortune Custom CSS */

body {
    display: none;
}

body {
    font-size: 16px;
    line-height: 1.9;
    text-transform: none;
}

h1, .h1 {
    font-size: 74px;
}

h2, .h2 {
    font-size: 60px;
}

h3, .h3 {
    font-size: 48px;
}

h4, .h4 {
    font-size: 36px;
}

h5, .h5 {
    font-size: 30px;
}

h6, .h6 {
    font-size: 24px;
}

ul.nav-menu-content > li, div.nav-menu-content ul > li, ul.nav-menu-content > li > a, div.nav-menu-content ul > li > a {
    font-size: 15px;
}

.nav-menu a, .tab-nav-menu a {
    text-transform: none;
}

.burg-text {
    color:;
}

@media (max-width: 991px) {
    .header-navigation-menu.strip-header-menu {
        background-color: rgba(248,246,246,1);
    }
}

@media (min-width: 992px) {
    .strip-header-menu .activeBurg.burg:before, .strip-header-menu .activeBurg.burg:after {
        background-color:;
    }

    .strip-header-menu.header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg:before, .strip-header-menu.header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg:after {
        background-color:;
    }
}

.header-sticky.top-sticky .toggle-nav-menu-additional .burg-text {
    color:;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .primary-typo, .vc_tta-title-text {
    line-height: 1.3;
    text-transform: none;
}

.section-sub-heading-text, .additional-typo {
    line-height:;
    text-transform: none;
}

.has-menu-button ul.nav-menu-content > li:last-child > a, .has-menu-button div.nav-menu-content > ul > li:last-child > a {
    font-size: 14px;
}

.has-menu-button ul.nav-menu-content > li:last-child > a, .has-menu-button div.nav-menu-content > ul > li:last-child > a {
    color: #ffffff !important;
}

.special-typo {
    line-height:;
    text-transform: none;
}

.preloader-style-2 .cssload-loader:before {
    border-color: #ffffff;
}

/* Fortune Custom Colors */
blockquote {
    border-color:;
}

/* Buttons */
.btn-default, input.btn-default {
    color: #fff;
    background-color:;
    border-color:;
}

    .btn-default:hover, input.btn-default:hover {
        color:;
        background-color: transparent;
        border-color:;
    }

.btn-primary, input.btn-primary {
    color: #fff;
    background-color:;
    border-color:;
}

    .btn-primary:hover, input.btn-primary:hover {
        color:;
        background-color: transparent;
        border-color:;
    }

.btn-accent, input.btn-accent {
    color: #fff;
    background-color:;
    border-color:;
}

    .btn-accent:hover, input.btn-accent:hover {
        color:;
        background-color: transparent;
        border-color:;
    }

.btn-alt, .btn-alt:focus, .btn-alt:hover, input.btn-alt, input.btn-alt:focus, input.btn-alt:hover {
    background-color: transparent;
}

.btn-default.btn-alt, input.btn-default.btn-alt {
    color:;
    border-color:;
}

.btn-primary.btn-alt, input.btn-primary.btn-alt {
    color:;
    border-color:;
}

.btn-accent.btn-alt, input.btn-accent.btn-alt {
    color:;
    border-color:;
}

.btn-default.btn-alt:hover, input.btn-default.btn-alt:hover {
    background-color:;
    color: #fff;
    border-color:;
}

.btn-primary.btn-alt:hover, input.btn-primary.btn-alt:hover {
    background-color:;
    color: #fff;
    border-color:;
}

.btn-accent.btn-alt:hover, input.btn-accent.btn-alt:hover {
    background-color:;
    color: #fff;
    border-color:;
}

.btn-link {
    color:;
    border-color: transparent;
}

    .btn-link:hover {
        border-color:;
    }

/* Custom colors */
.additional-nav-menu a:hover, .nav-menu-content li a:hover, .nav-menu-content li a:active, .nav-menu-content li.current-menu-item:not(.current_page_item) > a, .nav-menu-content li ul li.current-menu-item:not(.current_page_item) > a, .nav-menu-content li.current-menu-item:not(.current_page_item) > a:hover, .nav-menu-content li ul li.current-menu-item:not(.current_page_item) > a:hover, .tab-nav-menu a:hover, .header-toggle ul a:hover, .post-author a, .post-sharing-buttons a:hover, .widget_fortune_social_icons a:hover, .sidebar .widget-title, .filter a:hover, .filter a:focus, .filter a.active, .section-heading-icon, .agni_custom_heading i {
    color:;
}

    .nav-menu-content li.current-menu-item:not(.current_page_item) > a, .nav-menu-content li ul li.current-menu-item:not(.current_page_item) > a, .nav-menu-content li.current-menu-item:not(.current_page_item) > a:hover, .nav-menu-content li ul li.current-menu-item:not(.current_page_item) > a:hover {
        color: #ff655c;
    }

.nav-menu-content .current_page_ancestor .current-menu-item:not(.current_page_item) > a {
    color: #000000;
}

    .nav-menu-content .current_page_ancestor .current-menu-item:not(.current_page_item) > a:hover {
        color: #ff655c;
    }

.sticky:before, .owl-dot.active span, .page-numbers li span:not(.dots), .blog-single-post .tags-links a, .pricing-style-1 .pricing-title, #jpreBar {
    background-color:;
}

.owl-dot span, #fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span, #multiscroll-nav li .active span, .slides-pagination a.current, .entry-title:after, .page-numbers li span:not(.dots), .widget_fortune_social_icons a:hover, .sidebar .widget-title, .member-meta, .milestone-style-1 .mile-count h3:after, .feature-box-title:after {
    border-color:;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, a, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small, .toggle-nav-menu, .slides-navigation a, .portfolio-navigation-container .post-navigation a, .footer-bar .textwidget i {
    color:;
}

.nav-tabs-style-3 .nav-tabs li.active, .divide-line span, .accordion-style-3 .panel-title:not(.collapsed) {
    background-color:;
}

.nav-tabs-style-1 .nav-tabs li.active a, .nav-tabs li a:hover, .nav-tabs li a:focus, .nav-tabs-style-2 .nav-tabs li.active, .accordion-style-1 .panel-title, .accordion-style-1 .panel-title.collapsed:hover, .accordion-style-1 .panel-title.collapsed:focus, .accordion-style-3 .panel-title:not(.collapsed) {
    border-color:;
}

body, .post-sharing-buttons a, .widget_fortune_instagram_feed .follow-link {
    color:;
}

.widget_fortune_instagram_feed .follow-link {
    border-color:;
}

/* General & Contact form buttons */
.btn-default {
    background-color:;
    border-color:;
}

    .btn-default:hover {
        color:;
        background-color: transparent;
    }

.btn-primary {
    background-color:;
    border-color:;
}

    .btn-primary:hover {
        color:;
        background-color: transparent;
    }

.btn-accent {
    background-color:;
    border-color:;
}

    .btn-accent:hover {
        color:;
        background-color: transparent;
    }

.btn-alt, .btn-alt:focus, .btn-alt:hover {
    background-color: transparent;
}

.btn-default.btn-alt {
    color:;
}

.btn-primary.btn-alt {
    color:;
}

.btn-accent.btn-alt {
    color:;
}

.btn-default.btn-alt:hover {
    background-color:;
    color: #fff;
}

.btn-primary.btn-alt:hover {
    background-color:;
    color: #fff;
}

.btn-accent.btn-alt:hover {
    background-color:;
    color: #fff;
}

.btn-link {
    color:;
    border-color: transparent;
}

    .btn-link:hover {
        border-color:;
    }

.has-padding, .has-padding .top-padding, .has-padding .bottom-padding, .has-padding .header-sticky, .has-padding .header-top-bar, .has-padding .header-navigation-menu {
    border-width: 30px;
}

@media (max-width:767px) {
    .has-padding, .has-padding .top-padding, .has-padding .bottom-padding {
        border-width: 0;
    }
}

@media (min-width:1200px) {
    .has-padding .side-header-menu {
        margin-left: 30px;
        margin-top: 30px;
        bottom: 30px;
    }
}

@media (min-width:768px) {
    .has-padding .mfp-main .mfp-container {
        border-width: 30px;
    }
}

.has-padding, .has-padding .top-padding, .has-padding .bottom-padding, .has-padding .header-top-bar, .has-padding .header-navigation-menu, .has-padding .mfp-main .mfp-container {
    border-color: #fff;
}

.toggle-circled {
    border-color: #555555;
}

.header-social a, .header-toggle a, .header-toggle span {
    color: #555555;
}

.header-toggle ul a:hover {
    color: #ff655c;
}

.header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .toggle-circled {
    border-color: #ffffff;
}

.header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .header-social a, .header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .header-toggle a, .header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .header-toggle span {
    color: #ffffff;
}

.header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .header-toggle ul a:hover {
    color: #ff655c;
}

.toggle-nav-menu {
    color: #000000;
}

.header-sticky.top-sticky .toggle-nav-menu.toggle-nav-menu-additional {
    color: #ffffff;
}
/*.burg-text{
			color: #000000;
		}
		.burg, .burg:before, .burg:after{
			background-color: #000000;
		}*/

.header-sticky.top-sticky .toggle-nav-menu-additional .burg, .header-sticky.top-sticky .toggle-nav-menu-additional .burg:before, .header-sticky.top-sticky .toggle-nav-menu-additional .burg:after {
    background-color: #ffffff;
}

.activeBurg.burg, .activeBurg.burg:before, .activeBurg.burg:after {
    background-color: #000000;
}

.header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg, .header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg:before, .header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg:after {
    background-color: #000000;
}

.header-navigation-menu .header-menu-content, .side-header-menu .tab-nav-menu, .reverse_skin.header-sticky.top-sticky.header-navigation-menu.header-menu-border-additional:not(.side-header-menu) .header-menu-content, .reverse_skin.header-sticky.top-sticky.side-header-menu.header-menu-border-additional:not(.side-header-menu) .tab-nav-menu {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
}

.header-sticky.top-sticky.header-navigation-menu.header-menu-border-additional:not(.side-header-menu) .header-menu-content, .header-sticky.top-sticky.side-header-menu.header-menu-border-additional:not(.side-header-menu) .tab-nav-menu, .reverse_skin.header-navigation-menu .header-menu-content, .reverse_skin.side-header-menu .tab-nav-menu {
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
}


/* Reverse Skin */
.reverse_skin .toggle-circled {
    border-color: #ffffff;
}

.reverse_skin .header-social a, .reverse_skin .header-toggle a, .reverse_skin .header-toggle span {
    color: #ffffff;
}

.reverse_skin .header-toggle ul a:hover {
    color: #ff655c;
}

.reverse_skin.header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .toggle-circled {
    border-color: #555555;
}

.reverse_skin.header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .header-social a, .reverse_skin.header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .header-toggle a, .reverse_skin.header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .header-toggle span {
    color: #555555;
}

.reverse_skin.header-sticky.top-sticky:not(.side-header-menu) .header-menu-icons-additional-color .header-toggle ul a:hover {
    color: #ff655c;
}

.reverse_skin .toggle-nav-menu {
    color: #ffffff;
}

.reverse_skin.header-sticky.top-sticky .toggle-nav-menu.toggle-nav-menu-additional {
    color: #000000;
}

.reverse_skin .burg, .reverse_skin .burg:before, .reverse_skin .burg:after {
    background-color: #ffffff;
}

.reverse_skin.header-sticky.top-sticky .toggle-nav-menu-additional .burg, .reverse_skin.header-sticky.top-sticky .toggle-nav-menu-additional .burg:before, .reverse_skin.header-sticky.top-sticky .toggle-nav-menu-additional .burg:after {
    background-color: #000000;
}

.reverse_skin .activeBurg.burg, .reverse_skin .activeBurg.burg:before, .reverse_skin .activeBurg.burg:after {
    background-color: #000000;
}

.reverse_skin.header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg, .reverse_skin.header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg:before, .reverse_skin.header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg:after {
    background-color: #000000;
}

.footer-social .circled {
    color: #999999;
}

.footer-social a, .footer-social .circled {
    color: #999999;
}

.footer-social .circled {
    border-color: #999999;
}

    .footer-social a:hover, .footer-social .circled:hover {
        color: #ff655c;
    }

    .footer-social .circled:hover {
        border-color: #ff655c;
    }

.activeBurg.burg, .header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg, .reverse_skin .activeBurg.burg, .reverse_skin.header-sticky.top-sticky .toggle-nav-menu-additional .activeBurg.burg {
    background-color: transparent;
}

.portfolio-navigation-container .post-navigation a {
    background-color: transparent;
}

#header {
    margin: 0 auto;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}