
@{
    ViewBag.Title = "Post2";
}

<div id="content" class="site-content content default-header-menu-content">

    <section class="blog blog-single-post has-container">
        <div class="blog-single-container container">
            <div class="blog-single-row row no-sidebar has-title has-margin ">

                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2  blog-single-post-content">

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">


                            <article id="post-43" class="post-43 post type-post status-publish format-standard has-post-thumbnail hentry category-business">

                                <h1 class="entry-title text-left">Wildlife could be amazing, see why.</h1>									<div class="entry-meta text-left">
                                    <span class="posted-on"><a href="index.html" rel="bookmark"><time class="entry-date published" datetime="2016-12-04T20:20:34+00:00">4 Dec 2016</time><time class="updated" datetime="2017-01-03T12:10:13+00:00">3 Jan 2017</time></a></span>										<span class="cat-links"><a href="../../../../category/business/index.html" rel="category tag">Business</a></span>
                                </div>


                                <div class="entry-thumbnail">
                                    <img width="960" height="720" src="~/Content/wp-content/uploads/sites/2/2017/01/blog-thumbnail-3-960x720.jpg" class="attachment-fortune-standard-thumbnail size-fortune-standard-thumbnail wp-post-image" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2017/01/blog-thumbnail-3.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2017/01/blog-thumbnail-3-300x225.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2017/01/blog-thumbnail-3-768x576.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" />
                                </div>

                                <div class="entry-content clearfix">
                                    <p>Mauris ut augue ac ligula commodo pretium. Cras aliquet nec purus et imperdiet. Donec tempor tellus ut tortor finibus, ut convallis elit eleifend. Etiam aliquet molestie lobortis. Morbi tempor auctor semper. Maecenas cursus maximus erat, tincidunt venenatis odio molestie tempor. Fusce sagittis leo porta dolor auctor viverra eu a ante. Suspendisse tristique nulla quis augue suscipit facilisis. Proin tincidunt, sapien sit amet malesuada scelerisque, metus dolor ultricies quam, vitae lobortis mauris eros non enim. Aliquam et quam eget mauris lacinia aliquam. Fusce vitae massa sed nisl ultrices imperdiet. Integer vehicula sapien eros, in bibendum sem pretium vitae. Nulla tempor dapibus elit, nec tempus tortor commodo sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                    <blockquote><p>Sunt et iste minus. Autem asperiores impedit illum fugiat eum assumenda. dolor enim et. Omnis cum non et magni et. Ipsum ex autem minima culpa minus.</p></blockquote>
                                    <p>Aut totam excepturi est nobis voluptatem. Eius soluta aperiam necessitatibus facilis dolorem Aut fuga quis unde voluptatem nobis Atque optio architecto eos rerum Nemo laborum qui porro blanditiis rerum vel.</p>
                                    <h3>Illum ad nostrum et inventore illo dolorem</h3>
                                    <p>Nunc finibus blandit interdum. Pellentesque nec dapibus mauris, a placerat risus. Nullam pretium neque in justo rutrum, eu lacinia nibh placerat. Sed et magna metus. Sed ut lacus tincidunt nisi volutpat luctus. Integer eget nulla vitae nisl convallis cursus. Vivamus vel finibus purus. Duis pulvinar, dui nec dignissim semper, nibh elit finibus leo, quis feugiat arcu urna ut felis. Cras est risus, dapibus sed arcu at, porta blandit felis. Quisque maximus ante vel risus tristique aliquet. Mauris facilisis nisi nec ipsum feugiat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam augue diam, a lacinia est ornare ut. In mauris elit, elementum porttitor placerat a, ornare in elit. Praesent id tortor arcu.</p>
                                    <ol>
                                        <li>Quis ipsum id et natus</li>
                                        <li>Ut qui omnis quaerat</li>
                                        <li>Ea blanditiis quis rerum voluptatibus</li>
                                        <li>Quidem quo accusantium dolores nesciunt officia aliquid ut</li>
                                    </ol>

                                </div><!-- .entry-content -->

                                <div class="entry-footer">
                                    <div class=" post-sharing-buttons">
                                        <ul class="list-inline">
                                            <li><a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo1/2016/12/04/wildlife-could-be-amazing-see-why//&amp;t=Wildlife%20could%20be%20amazing,%20see%20why."><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/intent/tweet?text=Wildlife%20could%20be%20amazing,%20see%20why.-http://demo.agnidesigns.com/fortune/demo1/2016/12/04/wildlife-could-be-amazing-see-why/"><i class="fa fa-twitter"></i></a></li>

                                            <li><a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo1/2016/12/04/wildlife-could-be-amazing-see-why/"><i class="fa fa-google-plus"></i></a></li>

                                            <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo1/2016/12/04/wildlife-could-be-amazing-see-why/&amp;title=Wildlife%20could%20be%20amazing,%20see%20why."><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div><!-- .entry-footer -->
                            </article><!-- #post-## -->



                            <div class="post-navigation-container">
                                <nav class="post-navigation navigation" role="navigation">
                                    <h1 class="screen-reader-text">Post navigation</h1>
                                    <div id="post-nav-links" class="nav-links">
                                        <div class="nav-previous"><a href="../strange-things-that-make-you-wow/index.html" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div><div class="nav-next"><a href="../../05/10-things-new-york-lovers-could-only-understand/index.html" rel="next"><span>Next</span><i class="pe-7s-angle-right"></i></a></div>
                                    </div>
                                </nav><!-- .nav-links -->
                            </div>


                            <div id="comments" class="comments-area">


                                <h6 class="comments-title">
                                    1 Comment
                                </h6>

                                <ul class="comment-list">
                                    <li id="comment-20" class="comment even thread-even depth-1">
                                        <article id="div-comment-20" class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img alt='' src='http://0.gravatar.com/avatar/006b1d704aeed2b88b49c7164b2d7577?s=60&amp;d=mm&amp;r=g' srcset='http://0.gravatar.com/avatar/006b1d704aeed2b88b49c7164b2d7577?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' />						<b class="fn"><a href='https://www.terry.net/aut-quidem-dolor-in-animi-et-aliquam-au' rel='external nofollow' class='url'>Kitty Grimes</a></b> <span class="says">says:</span>
                                                </div><!-- .comment-author -->

                                                <div class="comment-metadata">
                                                    <a href="index.html#comment-20">
                                                        <time datetime="2016-12-08T13:58:01+00:00">
                                                            December 8, 2016 at 1:58 pm
                                                        </time>
                                                    </a>
                                                </div><!-- .comment-metadata -->

                                            </footer><!-- .comment-meta -->

                                            <div class="comment-content">
                                                <p>Voluptas accusantium deleniti ab. Consequatur voluptas sapiente aut. Labore officia tempore odio pariatur.</p>
                                                <p>Qui cumque sint tenetur sunt. Suscipit possimus esse quos non animi. Veniam sit voluptatem et provident sed ex magnam.</p>
                                            </div><!-- .comment-content -->

                                            <div class="reply"><a rel='nofollow' class='comment-reply-link' href='indexa82a.html?replytocom=20#respond' onclick='return addComment.moveForm( "div-comment-20", "20", "respond", "43" )' aria-label='Reply to Kitty Grimes'>Reply</a></div>
                                        </article><!-- .comment-body -->
                                    </li><!-- #comment-## -->
                                </ul><!-- .comment-list -->




                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel Reply</a></small></h3>			<form action="http://demo.agnidesigns.com/fortune/demo1/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                        <p class="comment-notes">Your email address will not be published. Required fields are marked *</p>
                                        <div class="form-group comment-form-comment comment-field">
                                            <textarea rows="6" name="comment" class="form-control" placeholder="Comment *" id="message" aria-required="true"></textarea>
                                        </div>
                                        <div class="comment-field row">
                                            <div class="comment-form-author form-group col-sm-12 col-md-4">
                                                <input class="form-control" id="author" name="author" type="text" placeholder="Name *" />
                                            </div>


                                            <div class="comment-form-email form-group col-sm-12 col-md-4">
                                                <input class="form-control" id="email" name="email" type="text" placeholder="Email *" />
                                            </div>


                                            <div class="comment-form-url form-group col-sm-12 col-md-4">
                                                <input class="form-control" id="url" name="url" type="text" placeholder="Website" />
                                            </div>
                                        </div>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" class="submit" value="Submit" /> <input type='hidden' name='comment_post_ID' value='43' id='comment_post_ID' />
                                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                        </p>
                                    </form>
                                </div><!-- #respond -->

                            </div><!-- #comments -->


                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>

            </div>
        </div>
    </section>



</div><!-- #content -->

@section ChangeHeader{
    <script>
        $(function () {
            var header = $(".header-navigation-menu");
            header.removeAttr("data-transparent").removeClass("transparent-header-menu").removeClass("reverse_skin");
            $(window).scroll(function () {
                header.removeAttr("data-transparent").removeClass("transparent-header-menu").removeClass("reverse_skin");
            })
        });
    </script>
}
