
@{
    ViewBag.Title = "Post1";
}

<div id="content" class="site-content content default-header-menu-content">

    <section class="blog blog-single-post has-container">
        <div class="blog-single-container container">
            <div class="blog-single-row row no-sidebar has-title has-margin ">

                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2  blog-single-post-content">

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">


                            <article id="post-41" class="post-41 post type-post status-publish format-standard has-post-thumbnail hentry category-tips-tricks tag-happy tag-love tag-memory tag-web">

                                <h1 class="entry-title text-left">10 things New York lovers could only understand</h1>									<div class="entry-meta text-left">
                                    <span class="posted-on"><a href="index.html" rel="bookmark"><time class="entry-date published" datetime="2016-12-05T03:24:27+00:00">5 Dec 2016</time><time class="updated" datetime="2017-01-03T12:15:21+00:00">3 Jan 2017</time></a></span>										<span class="cat-links"><a href="../../../../category/tips-tricks/index.html" rel="category tag">Tips &amp; Tricks</a></span>
                                </div>


                                <div class="entry-thumbnail">
                                    <img width="820" height="960" src="~/Content/wp-content/uploads/sites/2/2017/01/blog-thumbnail-16.jpg" class="attachment-fortune-standard-thumbnail size-fortune-standard-thumbnail wp-post-image" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2017/01/blog-thumbnail-16.jpg 820w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2017/01/blog-thumbnail-16-256x300.jpg 256w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2017/01/blog-thumbnail-16-768x899.jpg 768w" sizes="(max-width: 820px) 100vw, 820px" />
                                </div>

                                <div class="entry-content clearfix">
                                    <div id="agni-row-42498" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-42498"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-39062 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <h5>Et cupiditate soluta aut rerum voluptas.</h5>
                                                                <p>Odio perspiciatis dolore odit aperiam sit Doloremque minus ducimus consequatur. Accusantium ut tempore voluptatem fugit voluptas. Voluptatum quos sunt nulla aut rerum. Impedit et modi nulla consectetur nemo Voluptatem nihil cum nulla illo animi dolorum. vitae quia consequatur quia numquam. Esse ea et eum sunt quia repellendus. Adipisci aperiam totam quis pariatur est earum. Quaerat dolorem quia esse non Iusto odio dolorem pariatur. Nam ipsum dolorem voluptate. fugiat quaerat odio sunt Et laudantium quisquam et doloremque et. Reprehenderit quis ut doloribus beatae non qui. ut officiis et exercitationem aperiam in. voluptas enim sint occaecati tenetur. Et eveniet dolores iusto. assumenda ipsa voluptatem qui. Consequuntur distinctio qui dolore hic numquam. similique et et enim velit. Est quod delectus praesentium et sunt. Et vitae necessitatibus quidem. animi doloremque ipsum. Explicabo accusantium velit Iure molestias deleniti dolorem ut qui.</p>

                                                            </div>
                                                            <ul class="list ">
                                                                <li><i class="ion-android-remove " style="color:"></i>Tempora velit et enim</li>
                                                                <li><i class="ion-android-remove " style="color:"></i>Tempore est sit at sint</li>
                                                                <li><i class="ion-android-remove " style="color:"></i>Omnis autem nihil quod sit est molestiae</li>
                                                                <li><i class="ion-android-remove " style="color:"></i>Quisquam illo eos nisi nulla facilis</li>
                                                            </ul>
                                                            <div class="agni_empty_space vc_empty_space" style="height: 30px" data-height="30px" data-height-tab="30px" data-height-mobile="30px"><span class="vc_empty_space_inner"></span></div>

                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Duis nulla libero, vestibulum at velit in, sodales cursus nisi. In feugiat nulla justo, et ullamcorper massa ornare eu. Vestibulum consectetur volutpat lorem, ut lobortis arcu cursus ac. In porta enim aliquet, vehicula metus non, fermentum augue. Aenean vel nisi id libero tristique dapibus nec sed eros. In consectetur dictum nibh ultrices semper. Aliquam nibh ex, ullamcorper sed consequat non, posuere at neque. Praesent lacus eros, pretium id massa non, pellentesque viverra diam. Suspendisse pretium eleifend tortor, id posuere risus pretium eget. Aliquam elementum odio eget vestibulum porttitor. Aenean feugiat nisi et elementum gravida. Ut vel semper risus. Suspendisse viverra feugiat rutrum. Phasellus aliquet luctus sodales.</p>
                                                                <p>Proin id diam quis felis feugiat maximus. Phasellus aliquam ipsum eu augue dictum, a blandit ex sollicitudin. In dignissim vel elit ac imperdiet. Phasellus viverra consequat maximus. Aenean tempor fringilla nunc, quis facilisis ligula malesuada ut. Curabitur tristique tellus in dignissim semper. Suspendisse potenti. Morbi nec mauris ut diam pellentesque dapibus in sit amet risus. Morbi a tempus velit, in mattis libero. Nullam non mauris non sapien congue consectetur ut id eros. Nulla ut eros non nisi dictum sollicitudin vel non lorem. Etiam ac efficitur nisl. Sed maximus risus at eros mollis, eget dapibus lorem dapibus.</p>

                                                            </div>
                                                            <blockquote class=" agni-blockquote">
                                                                <span style="color: #4255ff">"</span><p>Libero voluptates illum libero consectetur. Incidunt reprehenderit ea nihil sequi aut. Ullam assumenda nesciunt facere Eum quo quis explicabo et. Numquam repudiandae quaerat ab expedita commodi consequatur. Esse dolores vero ducimus voluptas. Rem non est eaque. Minima placeat necessitatibus hic nesciunt eveniet quis. neque excepturi neque.</p>
                                                            </blockquote>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Esse ea et eum sunt quia repellendus. Adipisci aperiam totam quis pariatur est earum. Quaerat dolorem quia esse non Iusto odio dolorem pariatur. Nam ipsum dolorem voluptate. fugiat quaerat odio sunt Et laudantium quisquam et doloremque et. Reprehenderit quis ut doloribus beatae non qui. ut officiis et exercitationem aperiam in. voluptas enim sint occaecati tenetur. Et eveniet dolores iusto. assumenda ipsa voluptatem qui. Consequuntur distinctio qui dolore hic numquam. similique et et enim velit. Est quod delectus praesentium et sunt. Et vitae necessitatibus quidem. animi doloremque ipsum. Explicabo accusantium velit Iure molestias deleniti dolorem ut qui.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- .entry-content -->

                                <div class="entry-footer">
                                    <span class="tags-links"><a href="../../../../tag/happy/index.html" rel="tag">happy</a> <a href="../../../../tag/love/index.html" rel="tag">love</a> <a href="../../../../tag/memory/index.html" rel="tag">memory</a> <a href="../../../../tag/web/index.html" rel="tag">web</a></span>																	        <div class=" post-sharing-buttons">
                                        <ul class="list-inline">
                                            <li><a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo1/2016/12/05/10-things-new-york-lovers-could-only-understand//&amp;t=10%20things%20New%20York%20lovers%20could%20only%20understand"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/intent/tweet?text=10%20things%20New%20York%20lovers%20could%20only%20understand-http://demo.agnidesigns.com/fortune/demo1/2016/12/05/10-things-new-york-lovers-could-only-understand/"><i class="fa fa-twitter"></i></a></li>

                                            <li><a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo1/2016/12/05/10-things-new-york-lovers-could-only-understand/"><i class="fa fa-google-plus"></i></a></li>

                                            <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo1/2016/12/05/10-things-new-york-lovers-could-only-understand/&amp;title=10%20things%20New%20York%20lovers%20could%20only%20understand"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div><!-- .entry-footer -->
                            </article><!-- #post-## -->



                            <div class="post-navigation-container">
                                <nav class="post-navigation navigation" role="navigation">
                                    <h1 class="screen-reader-text">Post navigation</h1>
                                    <div id="post-nav-links" class="nav-links">
                                        <div class="nav-previous"><a href="../../04/wildlife-could-be-amazing-see-why/index.html" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div><div class="nav-next"></div>
                                    </div>
                                </nav><!-- .nav-links -->
                            </div>


                            <div id="comments" class="comments-area">


                                <h6 class="comments-title">
                                    2 Comments
                                </h6>

                                <ul class="comment-list">
                                    <li id="comment-18" class="comment even thread-even depth-1">
                                        <article id="div-comment-18" class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img alt='' src='http://1.gravatar.com/avatar/ae35c46e53dc1f22fb46c4f0ecd9b237?s=60&amp;d=mm&amp;r=g' srcset='http://1.gravatar.com/avatar/ae35c46e53dc1f22fb46c4f0ecd9b237?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' />						<b class="fn"><a href='https://www.nikolaus.com/perferendis-et-sunt-quia-eveniet-doloremque-blanditii' rel='external nofollow' class='url'>Paolo Stamm</a></b> <span class="says">says:</span>
                                                </div><!-- .comment-author -->

                                                <div class="comment-metadata">
                                                    <a href="index.html#comment-18">
                                                        <time datetime="2016-12-08T13:58:00+00:00">
                                                            December 8, 2016 at 1:58 pm
                                                        </time>
                                                    </a>
                                                </div><!-- .comment-metadata -->

                                            </footer><!-- .comment-meta -->

                                            <div class="comment-content">
                                                <p>Modi commodi doloribus quia. Et eum maiores qui facere fugit. Necessitatibus optio reprehenderit impedit iste omnis veniam impedit. Voluptas quae aliquam architecto cum velit fugit sit maiores. Tempora ab explicabo quae est ducimus unde odit.</p>
                                            </div><!-- .comment-content -->

                                            <div class="reply"><a rel='nofollow' class='comment-reply-link' href='indexb951.html?replytocom=18#respond' onclick='return addComment.moveForm( "div-comment-18", "18", "respond", "41" )' aria-label='Reply to Paolo Stamm'>Reply</a></div>
                                        </article><!-- .comment-body -->
                                    </li><!-- #comment-## -->
                                    <li id="comment-19" class="comment odd alt thread-odd thread-alt depth-1">
                                        <article id="div-comment-19" class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img alt='' src='http://0.gravatar.com/avatar/f37047269a1e6dbde22b08dbba03bbf4?s=60&amp;d=mm&amp;r=g' srcset='http://0.gravatar.com/avatar/f37047269a1e6dbde22b08dbba03bbf4?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' />						<b class="fn"><a href='http://frami.net/' rel='external nofollow' class='url'>Rebeka Littel</a></b> <span class="says">says:</span>
                                                </div><!-- .comment-author -->

                                                <div class="comment-metadata">
                                                    <a href="index.html#comment-19">
                                                        <time datetime="2016-12-08T13:58:01+00:00">
                                                            December 8, 2016 at 1:58 pm
                                                        </time>
                                                    </a>
                                                </div><!-- .comment-metadata -->

                                            </footer><!-- .comment-meta -->

                                            <div class="comment-content">
                                                <p>Animi maiores quo error provident cumque. Eos vero repellendus cumque quis nam aut.</p>
                                            </div><!-- .comment-content -->

                                            <div class="reply"><a rel='nofollow' class='comment-reply-link' href='index5a86.html?replytocom=19#respond' onclick='return addComment.moveForm( "div-comment-19", "19", "respond", "41" )' aria-label='Reply to Rebeka Littel'>Reply</a></div>
                                        </article><!-- .comment-body -->
                                    </li><!-- #comment-## -->
                                </ul><!-- .comment-list -->




                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel Reply</a></small></h3>			<form action="http://demo.agnidesigns.com/fortune/demo1/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                        <p class="comment-notes">Your email address will not be published. Required fields are marked *</p>
                                        <div class="form-group comment-form-comment comment-field">
                                            <textarea rows="6" name="comment" class="form-control" placeholder="Comment *" id="message" aria-required="true"></textarea>
                                        </div>
                                        <div class="comment-field row">
                                            <div class="comment-form-author form-group col-sm-12 col-md-4">
                                                <input class="form-control" id="author" name="author" type="text" placeholder="Name *" />
                                            </div>


                                            <div class="comment-form-email form-group col-sm-12 col-md-4">
                                                <input class="form-control" id="email" name="email" type="text" placeholder="Email *" />
                                            </div>


                                            <div class="comment-form-url form-group col-sm-12 col-md-4">
                                                <input class="form-control" id="url" name="url" type="text" placeholder="Website" />
                                            </div>
                                        </div>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" class="submit" value="Submit" /> <input type='hidden' name='comment_post_ID' value='41' id='comment_post_ID' />
                                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                        </p>
                                    </form>
                                </div><!-- #respond -->

                            </div><!-- #comments -->


                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>

            </div>
        </div>
    </section>



</div><!-- #content -->

@section ChangeHeader{
    <script>
        $(function () {
            var header = $(".header-navigation-menu");
            header.removeAttr("data-transparent").removeClass("transparent-header-menu").removeClass("reverse_skin");
            $(window).scroll(function () {
                header.removeAttr("data-transparent").removeClass("transparent-header-menu").removeClass("reverse_skin");
            })
        });
    </script>
}
